@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: #27496d;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 6px;
    
}

a:hover {
    background-color: #00909e;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 1px;
    margin: 6px;
}

.choice-prefix {
    padding: 2px;
   
}

.choice-text {
    padding: 2px;
}

.choice-container:hover {
    background-color: #00909e;
}


